# This .gitignore file should be placed at the root of your Unity project directory

#

# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore

#

[Ll]ibrary/

[Tt]emp/

[Ll]ogs/

TTT.Client_clone_0/

# Never ignore Asset meta data
![Aa]ssets/**/*.meta

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

TicTacToe.Client_clone_0/